<div class="row" style="margin-bottom: 60px">

<div class="col-md-3"></div>

<div class="col-md-6" id="browse_icons">

  <table>
    <!--<tr>
      <td colspan="5" style="font-size: 1.5em; font-weight: bold; height: 4em; text-align: left">Browse...</td>
    </tr> -->
    <tr>
      <td><%= link_to '', browse_people_path, class: 'fa fa-user fa-4x' %></td>
      <td><%= link_to '', browse_groups_path, class: 'fa fa-users fa-4x' %></td>
      <td><%= link_to '', browse_places_path, class: 'fa fa-globe fa-4x' %></td>
      <td><%= link_to '', browse_subjects_path, class: 'fa fa-archive fa-4x' %></td>
      <td><%= link_to '', browse_registers_path, class: 'fa fa-book fa-4x' %></td>
    </tr>
    <tr>
      <td>People</td>
      <td>Religious Houses, Groups and Organisations</td>
      <td>Places</td>
      <td>Subject Headings</td>
      <td>Registers</td>
    </tr>
  </table>
</div>

<div class="col-md-3"></div>

</div>