<div id="footer" class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="col-md-2">
      <a href="https://ahrc.ukri.org/" target="_blank"><%= image_tag 'AHRC-logo.png', alt: 'Arts and Humanities Research Council', class: 'footer_logo', style: 'max-width: 300px; margin-top: 50px' %></a>
    </div>
    <div class="col-md-2">
      <a href="http://www.nationalarchives.gov.uk/" target="_blank"><%= image_tag '300px-Logo_of_The_National_Archives.png', alt: 'The National Archives', class: 'footer_logo', style: 'max-width: 160px; margin-top: 0px' %></a>
    </div>
    <div class="col-md-2">
      <a href="http://www.york.ac.uk/" target="_blank">
        <%= image_tag 'UOY-Logo-Stacked-shield-Black.png', alt: 'University of York', class: 'footer_logo', style: 'max-width: 270px; margin-top: 10px' %></a>
    </div>
    <div class="col-md-2">
      <a href="https://yorkminster.org/" target="_blank"><%= image_tag 'York-Minster-logo.jpg', alt: 'York Minster', class: 'footer_logo', style: 'max-width: 220px; margin-top: 40px'  %></a>
    </div>
    <%# <div class="col-md-2"> %>
      <%# <a href="#"><%= image_tag 'arch_logo.jpg', :class => 'footer_logo', :style => 'max-width: 160px; margin-top: 10px' %>
      <%# </a> %>
    <%# </div> %>
    <div class="col-md-2">
      <a href="https://mellon.org/" target="_blank"><%= image_tag 'mellon_logo.svg', alt: 'The Andrew W. Mellon Foundation', class: 'footer_logo', style: 'max-width: 180px; margin-top: 20px' %></a>
    </div>
    <div class="col-md-2">
      <a href="http://www.marcfitchfund.org.uk/" target="_blank"><%= image_tag 'marc_fitch_-_logo_0.jpg', alt: 'Marc Fitch Fund', class: 'footer_logo', style: 'max-width: 140px'  %></a>
    </div>
  </div>
  <div class="col-md-1"></div>
  <div style="clear:both"></div>
</div>
<div style="text-align: center" class="row">
  <hr style="margin: 20px 0px"/>
  <div class="col-md-2"></div>
  <div class="col-md-8"><span style="text-align: center; font-size: 0.8em; margin-top: 30px">University of York, 2016. <a href="http://www.york.ac.uk/about/legal-statements/">Disclaimer</a></span></div>
  <div class="col-md-2"></div>
</div>
