<div class="row" style="margin-bottom: 100px">

<div class="col-md-3"></div>

<div class="col-md-6" id="browse_icons">

  <table>
    <tr>
      <td colspan="5" style="font-size: 1.5em; font-weight: bold; height: 4em">Browse...</td>
    </tr>
    <tr>
      <td><a href="<%= home_page_index_path %>"><span class="fa fa-user fa-4x"></span></a></td>
      <td><a href="<%= home_page_index_path %>"><span class="fa fa-users fa-4x"></span></a></td>
      <td><a href="<%= home_page_index_path %>"><span class="fa fa-map-marker fa-4x"></span></a></td>
      <td><a href="<%= home_page_index_path %>"><span class="fa fa-balance-scale fa-4x"></span></a></td>
      <td><a href="<%= home_page_index_path %>"><span class="fa fa-archive fa-4x"></span></a></td>
    </tr>
    <tr>
      <td>People</td>
      <td>Groups/Organisations</td>
      <td>Places</td>
      <td>Subject Headings</td>
      <td>Registers</td>
    </tr>
  </table>
</div>

<div class="col-md-3"></div>

</div>