            <% total_page_rows = local_assigns[:locals][:total_page_rows] %>
            
            <% @partial_list_array.each_with_index do |t, index| %>

                <%
                   entry_id = t[0]
                   title = t[1]
                   folio_id = t[2]
                   entry_type = t[3]
                   section_type = t[4]
                   summary = t[5]
                   marginalia = t[6]
                   language = t[7]
                   subject = t[8]
                   note = t[9]
                   editorial_note = t[10]
                   is_referenced_by = t[11]
                   place = t[12]
                   place.delete_if(&:empty?)
                   person = t[13]
                   person.delete_if(&:empty?)
                   dates = t[14]&.sort_by { |s| s.scan(/\d+/).join } # Sort by dates digit only
                   dates.delete_if(&:empty?)

                   search_type = (t[15] == :document ? :document : :entry) # Decide search type Document or Entry
                %>

                <div style="padding-bottom: 15px">

              <span class="results_title"><%= total_page_rows + index + 1 %>
                  .&nbsp;&nbsp;<% if search_type == :entry then %>
                        <%= link_to title, 
                            searches_show_path(
                                entry_id: entry_id, 
                                folio_id: folio_id, 
                                folio_title: title, 
                                search_term: @search_term,
                                all_sterms: @search_term, 
                                start_date: @start_date, 
                                end_date: @end_date, 
                                archival_repository: @archival_repository, 
                                page: @page) %>
                    <% elsif search_type == :document then %>
                        <%= link_to title, 
                            searches_show_path(
                                document_id: entry_id, 
                                series_id: folio_id, 
                                folio_title: title, 
                                search_term: @search_term,
                                all_sterms: @search_term, 
                                start_date: @start_date, 
                                end_date: @end_date, 
                                archival_repository: @archival_repository, 
                                page: @page) %>
                    <% end %></span>

                    <div class="results_table">

                        <table>

                            <% if entry_type != '' %>
                                <tr>
                                    <th>Entry Type:</th>
                                    <td><%= entry_type.html_safe %></td>
                                </tr>
                            <% end %>

                            <% if @display_type != 'summary' %>
                                <% if section_type != '' %>
                                    <tr>
                                        <th>Section Type:</th>
                                        <td><%= section_type.html_safe %></td>
                                    </tr>
                                <% end %>
                            <% end %>

                            <% if summary != '' %>
                                <tr>
                                    <th>Summary:</th>
                                    <td><%= summary.html_safe %></td>
                                </tr>
                            <% end %>

                            <% if @display_type != 'summary' %>
                                <% if marginalia != '' %>
                                    <tr>
                                        <th>Marginalia:</th>
                                        <td><%= marginalia.html_safe %></td>
                                    </tr>
                                <% end %>

                                <% if language != '' %>
                                    <tr>
                                        <th>Language:</th>
                                        <td><%= language.html_safe %></td>
                                    </tr>
                                <% end %>

                                <% if subject != '' %>
                                    <tr>
                                        <th>Subjects:</th>
                                        <td>
                                            <%= subject.html_safe %>
                                        </td>
                                    </tr>
                                <% end %>

                                <% if note != '' %>
                                    <tr>
                                        <th>Note:</th>
                                        <td><%= note.html_safe %></td>
                                    </tr>
                                <% end %>

                                <% if editorial_note != '' %>
                                    <tr>
                                        <th>Editorial Note:</th>
                                        <td><%= editorial_note.html_safe %></td>
                                    </tr>
                                <% end %>

                                <% unless is_referenced_by.nil? or is_referenced_by == '' %>
                                    <tr>
                                        <th>References:</th>
                                        <td><%= is_referenced_by.to_s.html_safe %></td>
                                    </tr>
                                <% end %>

                                <% unless dates.nil? or dates == [] %>
                                    <tr>
                                        <th style="vertical-align: top">Dates:</th>
                                        <td>
                                            <% dates.each do |date| %>
                                                <%= date.html_safe %>
                                                <br/>
                                            <% end %>
                                        </td>
                                    </tr>
                                <% end %>
                            <% end %>

                            <% if person != [] %>
                                <tr>
                                    <th style="vertical-align: top">People and Groups:</th>
                                    <td>
                                        <% person.each do |person_group| %>
                                            <%= person_group.html_safe %>
                                            <br/>
                                        <% end %>
                                    </td>
                                </tr>
                            <% end %>

                            <% if place != [] %>
                                <tr>
                                    <th style="vertical-align: top">Places:</th>
                                    <td>
                                        <% place.each do |p| %>
                                            <%= p.html_safe %>
                                            <br/>
                                        <% end %>
                                    </td>
                                </tr>
                            <% end %>

                        </table>
                    </div>
                </div>
            <% end %>