<div class="row">

    <div id="sidebar" class="col-md-2">

        <% if @error == false or @number_of_rows > 0 %>

            <div id="facets" class="facets sidenav" style="padding-top: 25px">

                <div class="top-panel-heading panel-heading">
                    <!--<h4 class="facets-heading" style="font-size: 1.1em">
                      Limit your search
                    </h4>-->
                </div>

                <%# Display facets %>
                <div id="facet-panel-collapse" class="collapse in panel-group">

                    <%# Register Facet %>
                    <div class="panel panel-default facet_limit blacklight-format ">

                        <div class="collapse-toggle panel-heading" data-toggle="collapse" data-target="#facet-format" aria-expanded="false">
                            <h5 class="panel-title facet-field-heading">
                                <a data-no-turbolink="true" href="#">Register</a>
                            </h5>
                        </div>

                        <div id="facet-format" class="panel-collapse facet-content collapse in" aria-expanded="false">
                            <div class="panel-body">
                                <ul class="facet-values list-unstyled">
                                    <% @register_facet_hash.each do |register_name, register_count| %>
                                        <li>
                      <span class="facet-label
                        <% if register_name == @register_facet then %>highlight_red
                        <% end %>">
                        <%= link_to register_name,
                                    search_simple_path(
                                            :page => 1,
                                            :rows_per_page => @rows_per_page,
                                            :display_type => @display_type,
                                            :search_term => @search_term,
                                            :search_type => @search_type,
                                            :register_facet => register_name,
                                            :department_facet => @department_name,
                                            :section_type_facet => @section_type_facet,
                                            :subject_facet => @subject_facet,
                                            :person_same_as_facet => @person_same_as_facet,
                                            :place_same_as_facet => @place_same_as_facet,
                                            :date_facet => @date_facet),
                                    :class => 'facet_select' %>
                          </a>
                      </span>
                                            <span class="facet-count"><%= register_count %></span>
                                        </li>
                                    <% end %>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <%# Department Facet %>
                    <div class="panel panel-default facet_limit blacklight-format ">

                        <div class="collapse-toggle panel-heading" data-toggle="collapse" data-target="#facet-department" aria-expanded="false">
                            <h5 class="panel-title facet-field-heading">
                                <a data-no-turbolink="true" href="#">TNA Department</a>
                            </h5>
                        </div>

                        <div id="facet-department" class="panel-collapse facet-content collapse in" aria-expanded="false">
                            <div class="panel-body">
                                <ul class="facet-values list-unstyled">
                                    <% @department_facet_hash.each do |department_name, department_count| %>
                                        <li>
                      <span class="facet-label
                        <% if department_name == @department_facet then %>highlight_red
                        <% end %>">
                        <%= link_to department_name,
                                    search_simple_path(
                                            :page => 1,
                                            :rows_per_page => @rows_per_page,
                                            :display_type => @display_type,
                                            :search_term => @search_term,
                                            :search_type => @search_type,
                                            :register_facet => @register_facet,
                                            :department_facet => department_name,
                                            :section_type_facet => @section_type_facet,
                                            :subject_facet => @subject_facet,
                                            :person_same_as_facet => @person_same_as_facet,
                                            :place_same_as_facet => @place_same_as_facet,
                                            :date_facet => @date_facet),
                                    :class => 'facet_select' %>
                          </a>
                      </span>
                                            <span class="facet-count"><%= department_count %></span>
                                        </li>
                                    <% end %>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <%# Dates Facet %>
                    <div class="panel panel-default facet_limit blacklight-example_query_facet_field ">

                        <div class="collapse-toggle panel-heading" data-toggle="collapse" data-target="#facet-example_query_facet_field">
                            <h5 class="panel-title facet-field-heading">

                                <a data-no-turbolink="true" href="#">Date</a>
                            </h5>
                        </div>

                        <div id="facet-example_query_facet_field" class="panel-collapse facet-content collapse in">
                            <div class="panel-body">
                                <ul class="facet-values list-unstyled">
                                    <% @date_facet_hash.each do |date_name, date_count| %>
                                        <li>
                      <span class="facet-label
                        <% if date_name == @date_facet then %>highlight_red
                        <% end %>">
                        <%= link_to date_name,
                                    search_simple_path(
                                            :page => 1,
                                            :rows_per_page => @rows_per_page,
                                            :display_type => @display_type,
                                            :search_term => @search_term,
                                            :search_type => @search_type,
                                            :register_facet => @register_facet,
                                            :department_facet => @department_facet,                                            
                                            :section_type_facet => @section_type_facet,
                                            :subject_facet => @subject_facet,
                                            :person_same_as_facet => @person_same_as_facet,
                                            :place_same_as_facet => @place_same_as_facet,
                                            :date_facet => date_name),
                                    :class => 'facet_select' %>
                          </a>
                      </span>
                                            <span class="facet-count"><%= date_count %></span>
                                        </li>
                                    <% end %>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <%# Section Type Facet %>
                    <div class="panel panel-default facet_limit blacklight-format3 ">

                        <div class="collapse-toggle panel-heading" data-toggle="collapse" data-target="#facet-format3" aria-expanded="false">
                            <h5 class="panel-title facet-field-heading">
                                <a data-no-turbolink="true" href="#">Section Type</a>
                            </h5>
                        </div>

                        <div id="facet-format3" class="panel-collapse facet-content collapse in" aria-expanded="false">
                            <div class="panel-body">
                                <ul class="facet-values list-unstyled">
                                    <% @section_type_facet_hash.each do |section_type_name, section_type_count| %>
                                        <li>
                      <span class="facet-label
                        <% if section_type_name == @section_type_facet then %>highlight_red
                        <% end %>">
                        <%= link_to section_type_name,
                                    search_simple_path(
                                            :page => 1,
                                            :rows_per_page => @rows_per_page,
                                            :display_type => @display_type,
                                            :search_term => @search_term,
                                            :search_type => @search_type,
                                            :register_facet => @register_facet,
                                            :department_facet => @department_facet,
                                            :section_type_facet => section_type_name,
                                            :subject_facet => @subject_facet,
                                            :person_same_as_facet => @person_same_as_facet,
                                            :place_same_as_facet => @place_same_as_facet,
                                            :date_facet => @date_facet),
                                    :class => 'facet_select' %>
                          </a>
                      </span>
                                            <span class="facet-count"><%= section_type_count %></span>
                                        </li>
                                    <% end %>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <%# Subjects Facet %>
                    <div class="panel panel-default facet_limit blacklight-subject_topic_facet ">

                        <div class="collapse-toggle panel-heading" data-toggle="collapse" data-target="#facet-subject_topic_facet" aria-expanded="false">
                            <h5 class="panel-title facet-field-heading">
                                <a data-no-turbolink="true" href="#">Subject</a>
                            </h5>
                        </div>

                        <div id="facet-subject_topic_facet" class="panel-collapse facet-content collapse in" aria-expanded="false">
                            <div class="panel-body">
                                <ul class="facet-values list-unstyled">
                                    <% @subject_facet_hash.each do |subject_name, subject_count| %>
                                        <li>
                    <span class="facet-label
                      <% if subject_name == @subject_facet then %>highlight_red
                      <% end %>">
                        <%= link_to subject_name,
                                    search_simple_path(
                                            :page => 1,
                                            :rows_per_page => @rows_per_page,
                                            :display_type => @display_type,
                                            :search_term => @search_term,
                                            :search_type => @search_type,
                                            :register_facet => @register_facet,
                                            :department_facet => @department_facet,
                                            :section_type_facet => @section_type_facet,
                                            :subject_facet => subject_name,
                                            :person_same_as_facet => @person_same_as_facet,
                                            :place_same_as_facet => @place_same_as_facet,
                                            :date_facet => @date_facet),
                                    :class => 'facet_select' %>
                        </a>
                    </span>
                                            <span class="facet-count"><%= subject_count %></span>
                                        </li>
                                    <% end %>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <%# Places Same As Facet %>
                    <div class="panel panel-default facet_limit blacklight-pub_date ">

                        <div class="collapse-toggle panel-heading" data-toggle="collapse" data-target="#facet-pub_date" aria-expanded="false">
                            <h5 class="panel-title facet-field-heading">
                                <a data-no-turbolink="true" href="#">Place</a>
                            </h5>
                        </div>

                        <div id="facet-pub_date" class="panel-collapse facet-content collapse in" aria-expanded="false">
                            <div class="panel-body">
                                <ul class="facet-values list-unstyled">
                                    <% @place_same_as_facet_hash.each do |place_same_as_name, place_count| %>
                                        <li>
                      <span class="facet-label
                        <% if place_same_as_name == @place_same_as_facet then %>highlight_red
                        <% end %>">
                        <%= link_to place_same_as_name,
                                    search_simple_path(
                                            :page => 1,
                                            :rows_per_page => @rows_per_page,
                                            :display_type => @display_type,
                                            :search_term => @search_term,
                                            :search_type => @search_type,
                                            :register_facet => @register_facet,
                                            :department_facet => @department_facet,
                                            :section_type_facet => @section_type_facet,
                                            :subject_facet => @subject_facet,
                                            :person_same_as_facet => @person_same_as_facet,
                                            :place_same_as_facet => place_same_as_name,
                                            :date_facet => @date_facet),
                                    :class => 'facet_select' %>
                          </a>
                      </span>
                                            <span class="facet-count"><%= place_count %></span>
                                        </li>
                                    <% end %>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <%# People or Group Same As FAcet %>
                    <div class="panel panel-default facet_limit blacklight-format2 ">

                        <div class="collapse-toggle panel-heading" data-toggle="collapse" data-target="#facet-format2" aria-expanded="false">
                            <h5 class="panel-title facet-field-heading">
                                <a data-no-turbolink="true" href="#">Person or Group</a>
                            </h5>
                        </div>

                        <div id="facet-format2" class="panel-collapse facet-content collapse in" aria-expanded="false">
                            <div class="panel-body">
                                <ul class="facet-values list-unstyled">
                                    <% @person_same_as_facet_hash.each do |person_same_as_name, person_same_as_count| %>
                                        <li>
                  <span class="facet-label
                    <% if person_same_as_name == @person_same_as_facet then %>highlight_red
                    <% end %>">
                    <%= link_to person_same_as_name,
                                search_simple_path(
                                        :page => 1,
                                        :rows_per_page => @rows_per_page,
                                        :display_type => @display_type,
                                        :search_term => @search_term,
                                        :search_type => @search_type,
                                        :register_facet => @register_facet,
                                        :department_facet => @department_facet,
                                        :section_type_facet => @section_type_facet,
                                        :subject_facet => @subject_facet,
                                        :person_same_as_facet => person_same_as_name,
                                        :place_same_as_facet => @place_same_as_facet,
                                        :date_facet => @date_facet),
                                :class => 'facet_select' %>
                      </a>
                      </span>
                                            <span class="facet-count"><%= person_same_as_count %></span>
                                        </li>
                                    <% end %>
                                </ul>
                            </div>
                        </div>
                    </div>



                </div>
            </div>

        <% end %>

    </div>

    <div id="search_results" class="col-md-8">

        <div style="margin-top: 40px">

            <%
               total_page_rows = (@page - 1) * @rows_per_page
               start_index = total_page_rows + 1
               end_index = total_page_rows + @partial_list_array.size
            %>

            <!-- Warn user if there are less than three characters entered into the search box -->
            <!-- Note that this is for the server-side check and shouldn't happen in normal circumstances because there is a javascript check -->
            <% if @error == true %>
                <div class="alert alert-danger">
                    <strong>Please enter three or more characters into the search box</strong>
                </div>
            <% elsif @number_of_rows == 0 %>
                <div class="alert alert-info">
                    <strong>No entries match this search - please try again</strong>
                </div>
            <% else %>

                <%# Display previous...next arrows, rows per page, display type and sort by %>
                <div id="previous_next_bar">

                    <div style="float: left">

                        <ul class="pager" style="text-align: left">
                            <% if @page == 1 %>
                                <li><span style="color: #767676">Previous</span></li>
                            <% else %>
                            <li><%= link_to 'Previous', search_simple_path(:search_term => @search_term, :page => @page, :previous => 'true', :register_facet => @register_facet, :date_facet => @date_facet, :section_type_facet => @section_type_facet, :subject_facet => @subject_facet, :person_same_as_facet => @person_same_as_facet, :place_same_as_facet => @place_same_as_facet, :rows_per_page => @rows_per_page, :display_type => @display_type, :search_type => @search_type) %></li>
                            <% end %>
                            &nbsp;<span style="font-size: 1.1em"><%= start_index %> - <%= end_index %>
                            of <strong><%= @number_of_rows %></strong></span>&nbsp;
                            <% if @number_of_rows <= @rows_per_page || total_page_rows + @rows_per_page >= @number_of_rows %>
                                <li><span style="color: #767676">Next</span></li>
                            <% else %>
                            <li><%= link_to 'Next', search_simple_path(:search_term => @search_term, :page => @page, :next => 'true', :register_facet => @register_facet, :date_facet => @date_facet, :section_type_facet => @section_type_facet, :subject_facet => @subject_facet, :person_same_as_facet => @person_same_as_facet, :place_same_as_facet => @place_same_as_facet, :rows_per_page => @rows_per_page, :display_type => @display_type, :search_type => @search_type) %></li>
                            <% end %>
                        </ul>
                    </div>
                    <%= form_tag(search_simple_path, method: 'get') do %>

                        <div style="float: left; margin-left: 30px; padding-top: 8px">
                            Records per page:
                        </div>

                        <div style="float: left; margin-left: 6px">
                            <%= select_tag 'rows_per_page', options_for_select(['1', '2', '5', '10'], @rows_per_page), :class => 'form-control', :onchange => 'this.form.submit()' %>
                        </div>

                        <div style="float: left; margin-left: 30px; padding-top: 8px">
                            Display type:
                        </div>

                        <div style="float: left; margin-left: 6px">
                            <%= select_tag 'display_type', options_for_select(['full display', 'summary', 'matched records'], @display_type), :class => 'form-control', :onchange => 'this.form.submit()' %>
                        </div>

                        <!-- hiding for now as only one option
                        <div style="float: left; margin-left: 25px;  padding-top: 8px">
                            Sort by:
                        </div>


                        <div style="float: left; margin-left: 6px">
                            <%= select_tag 'sort_by', options_for_select(['relevance'], @sort_by), :class => 'form-control', :onchange => 'this.form.submit()' %>
                        </div>
                        -->

                        <%# Hidden fields for when the form is submitted via the 'records per page' or 'sort by' javascript %>
                        <%= hidden_field_tag(:search_term, @search_term) %>
                        <% unless @search_type.nil? %>
                            <%= hidden_field_tag(:search_type, @search_type) %>
                        <% end %>
                        <% unless @register_facet.nil? %>
                            <%= hidden_field_tag 'register_facet', @register_facet %>
                        <% end %>

                        <% unless @section_type_facet.nil? %>
                            <%= hidden_field_tag 'section_type_facet', @section_type_facet %>
                        <% end %>
                        <% unless @subject_facet.nil? %>
                            <%= hidden_field_tag 'subject_facet', @subject_facet %>
                        <% end %>
                        <% unless @person_same_as_facet.nil? %>
                            <%= hidden_field_tag 'person_same_as_facet', @person_same_as_facet %>
                        <% end %>
                        <% unless @place_same_as_facet.nil? %>
                            <%= hidden_field_tag 'place_same_as_facet', @place_same_as_facet %>
                        <% end %>
                        <% unless @date_facet.nil? %>
                            <%= hidden_field_tag 'date_facet', @date_facet %>
                        <% end %>
                    <% end %>

                </div>

                <div style="clear: both"></div>
            <% end %>

        </div>

        <% if @error != true and @number_of_rows > 0 %>

            <hr style="margin: 25px 0px 20px 0px; padding: 0px; text-align: left; width: 80%"/>
            <%# Display facet choices %>
            <%= render "display_facet_choices", locals: {search_mode: :simple} %>

            <div style="clear: both;"></div>

            <%# Display search results %>
            <%= render "display_search_results", locals: {total_page_rows: total_page_rows} %>

        <% end %>

    </div>
</div>

<%# Add some extra space below search results %>
<div class="row" style="height: 60px">
    <div class="col-md-12">
    </div>
</div>


