<% context_path = ENV["CONTEXT_PATH"] %>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">

    <% if params['department_id'].nil? or params['department_id'] == '' %>
      <div class="row">
        <div class="col-md-12">
          <h1>Departments<span style="float: right">
              <%= link_to '', browse_path, class: 'fa fa-chevron-circle-left fa-2x' %>
              </span></h1>
          <br/><br/><br/>
          <% @department_list.each_with_index do |dept, index| %>
            <div class="col-md-3 registers-grid">
              <%= link_to browse_departments_path(department_id: dept[0]) do %>
                <h2><%= dept[1][0] %></h2>
              <% end %>
            </div>
            <% num = index + 1
               if num.modulo(4).zero? %>
              </div>
              <div style="clear: both;"></div>
              <div class="col-md-12">
            <% end %>
          <%
            end %>
          </div>
          <div style="clear: both;"></div>

          </div>

    <% else %>
      <h1><%= @department_name %></h1>
      <br/>
      <%= form_tag(browse_departments_path, method: 'get', id: 'choose_series') do %>
        <span>Showing <%= @series_index.to_i+1 %> of <%= @series_list.length() %></span>

        <%= hidden_field_tag(:department_id, @department_id) %>
        <%= select_tag 'series', options_for_select(@series_list, @series_id), :class => 'choose_folio' %>
        &nbsp;
        <%= link_to '', browse_departments_path, class: 'fa fa-chevron-circle-left fa-2x', :title => 'Go back' %>

        <br/><br/>

        <% unless session[:documents_exist].nil? %>
          <p>Documents on this series have been indexed. View entries at the bottom of
            this page.</p>
        <% end %>

        <p style="float:left">
          <% unless @series_index.to_i == 0 %>
            <%= link_to '', browse_departments_path(department_id: @department_id, series: @series_list[@series_index.to_i-1][1]), :class => 'fa fa-long-arrow-alt-left fa-3x' %>
          <% end %>
          &nbsp;
        </p>
        <p style="float:right">
          <% unless @series_index.to_i == @series_list.length()-1 %>
            <%= link_to '', browse_departments_path(department_id: @department_id, series: @series_list[@series_index.to_i+1][1]), :class => 'fa fa-long-arrow-alt-right fa-3x' %>
          <% end %>
        </p>
      <% end %>
      <%= render 'documents' %>
    <% end %>
  </div>
  <div class="col-md-2"></div>
</div>