<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">

        <% if (params['collection'].nil? or params['collection'] == '') and (params['register_id'].nil? or params['register_id'] == '') %>
            <h1>Browse Registers<span style="float: right">
                <%= link_to '', browse_path, class: 'fa fa-chevron-circle-left fa-2x' %>
            </span></h1>
            <div class="col-md-3"></div>
            <%

               @coll_list.each do |p| %>
                <div class="col-md-3 collections-grid">
                    <%= link_to browse_registers_path(collection: p[0]) do %>
                        <%= image_tag get_thumb(p[0]) %>
                    <% end %>
                    <br/>
                    <p width="100%"><strong><%= p[1][0] %></strong></p>
                </div>
            <% end
            %>
            <div class="col-md-3"></div>
        <% elsif params['register_id'].nil? or params['register_id'] == '' %>
            <%
               @coll_list.each do |p| %>
                <div class="col-md-12">
                    <h1><%= p[1][0] %><span style="float: right">
                <%= link_to '', browse_registers_path, class: 'fa fa-chevron-circle-left fa-2x' %>
                </span></h1>
                    <br /><br /><br />
                    <% get_registers_in_order(p[0]).each_with_index do |pair, index| %>
                        <div class="col-md-2 registers-grid">
                            <%= link_to browse_registers_path(register_id: pair[0]) do %>
                                <%= image_tag get_thumb(pair[0]) %>
                            <% end %>
                            <br/>
                            <p width="100%"><strong><%= pair[1][0] %></strong>
                                <br/>
                                <%= pair[1][1] %></p>
                        </div>
                        <% num = index + 1
                           if num.modulo(6).zero? %>
                            </div>
                            <div style="clear: both;"></div>
                            <div class="col-md-12">
                        <% end %>
                    <%
                       end %>
                    </div>
                    <div style="clear: both;"></div>
            <% end %>
        <% else %>
            <h1><%= session['register_name'] %></h1>

            <br />
            <%= form_tag(browse_registers_path, method: 'get', id: 'choose_folio') do %>
            <span style="float: right">
                <%= link_to '', { controller: 'iiif', action: 'download', folio_id: session[:folio_id] }, class: 'fa fa-download fa-2x', :title => 'Download this image' %>
                <%= link_to '', browse_registers_path, class: 'fa fa-chevron-circle-left fa-2x', :title => 'Go back' %>

                    </span>
                <span>&lt;&nbsp;
                    <% if session[:first_folio_id] == session[:folio_id] %>
                    <strong style="color: lightgray">Previous</strong>
                    <% else %>
                    <%= link_to 'Previous', browse_registers_path(register_id: session['register_id'], folio: session['folio'].to_i - 1) %>
                    <% end %>
                    |
                    <% if session[:last_folio_id] == session[:folio_id] %>
                    <strong style="color: lightgray">Next</strong>
                    <% else %>
                    <%= link_to 'Next', browse_registers_path(register_id: session['register_id'], folio: session['folio'].to_i + 1) %>
                    <% end %>
                    &nbsp;&gt;
                    &nbsp; <%= session[:folio].to_i %> of <%= session[:length] %>
                    </span>

                    <%= label_tag('Current Folio: ') %>
                    <%= hidden_field_tag(:register_id, session[:register_id]) %>
                    <%= select_tag 'folio', options_for_select(@folio_list, session[:folio]), :class => 'choose_folio' %>
                <% end %>


            <br/>

            <% tile_sources = get_tile_sources_for_folio(session['folio_id']) %>
            <% unless session[:alt].nil? %>
                <p>Click on the arrow below to see an UV image of this folio.</p>
            <% end %>

            <% unless session[:entries_exist].nil? %>
                <p>Entries on this folio have been indexed. View <%= link_to 'Entries', '#entries' %> at the bottom of this page.</p>
            <% end %>


            <div>
                <%= openseadragon_picture_tag tile_sources %>
            </div>

            <%= render 'entries' %>
        <% end %>

    </div>
    <div class="col-md-2"></div>
</div>