
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">

    <% if params['register_id'].nil? or params['register_id'] == '' %>
        <h1>Browse Registers</h1>
        <%
           @coll_list.each_with_index do |p, i| %>
             <div>
                <h2><%=p[1][0]%></h2>
                <% get_registers_in_order(p[0]).each_with_index do |pair, index|
                 # Add a new row to the table if there are more than 5 registers
                 #if index.modulo(5).zero? %>
                    <div class="col-md-3">
                        <a href="/browse/register?register_id=<%= pair[0] %>&amp;register_name=<%=pair[1][0] %>"><%= image_tag get_thumb(pair[0]) %>
                        <br/>
                        <strong><%= pair[1][0] %></strong></a>
                        <br/>
                        <%= pair[1][1] %>
                    </div>
                  <%
                  #   end
                  end %>
             </div><div style="clear: both;"></div>
            <% end
         %>
    </div>
    <div class="col-md-2"></div>
    <% else %>
    <div class="col-md-8">
        <h1><%=params['register_name']%></h1>
        <p>add a back button and sort this out!</p>

        <%= openseadragon_picture_tag ['http://dlib.york.ac.uk/cgi-bin/iipsrv.fcgi?DeepZoom=/usr/digilib-webdocs/digilibImages/HOA/current/A/20151206/Abp_Reg_03_0055.jp2.dzi','http://dlib.york.ac.uk/cgi-bin/iipsrv.fcgi?IIIF=/usr/digilib-webdocs/digilibImages/HOA/current/A/20151206/Abp_Reg_03_0055.jp2/info.json'], {data: { openseadragon: { sequenceMode: true }}}
        %>
        <div id="html-overlay" style='color: white'>
            <br />
            <h2>Folio xxx</h2>
            <p>some other info</p></div>
    </div>

    <% end %>

    <div class="col-md-2"></div>
</div>