<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">

            <h1>Subjects<span style="float: right">
                <%= link_to '', browse_path, class: 'fa fa-chevron-circle-left fa-2x' %>
            </span></h1>

            <% @top_level_list.each do |subject| %>
                <ul class="list-unstyled">
                    <li>
                        <% unless subject[:elements].nil? %>
                            <%= button_tag '', :type => 'button', :class => 'show_hide fa fa-plus plus-minus' %>
                        <% end %>
                        <% if subject['used'].nil? %>
                            <%= subject['label'] %>
                        <% else %>
                            <%= link_to subject['label'], searches_path(:search_term => subject['label'], :search_type => 'subject') %>
                        <% end %>

                        <% unless subject['definition'].nil? %>
                            -- <strong>Definition:</strong> <%= subject['definition'] %>
                        <% end
                           unless subject['alt_labels'].nil? %>
                             -- <strong>Use For:</strong>
                            <% subject['alt_labels'].each do |p| %>
                                <%= p %>;&nbsp;
                            <% end %>
                        <% end %>

                            <ul class="tog" style="display: none">
                            <% subject[:elements].each do |p| %>
                                <li>
                                    <% if p['used'].nil? %>
                                        <%= p['label'] %>
                                    <% else %>
                                        <%= link_to p['label'], searches_path(:search_term => p['label'], :search_type => 'subject') %>
                                    <% end %>

                                    <% unless p['definition'].nil? %>
                                        -- <strong>Definition:</strong> <%= p['definition'] %>
                                    <% end
                                       unless p['alt_labels'].nil? %>
                                        -- <strong>Use For:</strong>
                                        <% p['alt_labels'].each do |p| %>
                                            <%= p %>;&nbsp;
                                        <% end %>
                                    <% end %>
                                    <br />
                                </li>
                                <% end %>
                            </ul>
                    <br />
                    </li>
                </ul>
            <% end %>
        </table>



    </div>
    <div class="col-md-2"></div>
</div>