
<div class="row">

  <div id="search-navbar" class="navbar navbar-default navbar-static-top" role="navigation">

    <div class="col-md-12">

      <div class="container2" style="width: 1170px; padding-left: 0px; padding-right: 15px">

        <%= form_tag searches_index_path, :method => 'get', :class => 'earch-query-form clearfix navbar-form' do |f| %>

            <span style="font-size: 1.1em">Search the Registers:&nbsp;</span>

            <div class="input-group search-input-group" style="display: inline-table; vertical-align: middle">

              <%= text_field_tag 'search_term', @search_term, class: 'form-control', id: 'search_registers', placeholder: 'Enter text here...' %>

              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary search-btn" id="search">
                  <span class="submit-search-text">Search</span>
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
            </div>

            <%= hidden_field_tag 'is_search_box', 'true' %>

        <% end %>

      </div>
    </div>
  </div>
</div>

<div class="row">

  <div id="sidebar" class="col-md-2">

    <div id="facets" class="facets sidenav" style="padding-top: 25px">

      <div class="top-panel-heading panel-heading">

        <h4 class="facets-heading" style="font-size: 1.1em">
          Limit your search
        </h4>
      </div>

      <div id="facet-panel-collapse" class="collapse in panel-group">

        <%# People %>
        <div class="panel panel-default facet_limit blacklight-format ">

          <div class="collapse-toggle panel-heading" data-toggle="collapse" data-target="#facet-format" aria-expanded="false">
            <h5 class="panel-title facet-field-heading">
              <a data-no-turbolink="true" href="#">People</a>
            </h5>
          </div>

          <div id="facet-format" class="panel-collapse facet-content collapse in" aria-expanded="false">
            <div class="panel-body">
              <ul class="facet-values list-unstyled">
                <% @person_set_array.each do |t| %>
                <%
                  person_name = t[0]
                  person_count = t[1]
                %>
                <li>
                  <span class="facet-label"><a class="facet_select" href=""><%= person_name %></a></span><span class="facet-count"><%= person_count %></span>
                </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>

        <%# Places %>
        <div class="panel panel-default facet_limit blacklight-pub_date ">

          <div class="collapse-toggle panel-heading" data-toggle="collapse" data-target="#facet-pub_date" aria-expanded="false">
            <h5 class="panel-title facet-field-heading">
              <a data-no-turbolink="true" href="#">Places</a>
            </h5>
          </div>

          <div id="facet-pub_date" class="panel-collapse facet-content collapse in" aria-expanded="false">
            <div class="panel-body">
              <ul class="facet-values list-unstyled">
                <% @place_set_array.each do |t| %>
                <%
                  place_name = t[0]
                  place_count = t[1]
                %>
                <li>
                  <span class="facet-label"><a class="facet_select" href=""><%= place_name %></a></span><span class="facet-count"><%= place_count %></span>
                </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>

        <%# Subjects %>
        <div class="panel panel-default facet_limit blacklight-subject_topic_facet ">

          <div class="collapse-toggle panel-heading" data-toggle="collapse" data-target="#facet-subject_topic_facet" aria-expanded="false">
            <h5 class="panel-title facet-field-heading">
              <a data-no-turbolink="true" href="#">Subjects</a>
            </h5>
          </div>

          <div id="facet-subject_topic_facet" class="panel-collapse facet-content collapse in" aria-expanded="false">
            <div class="panel-body">
              <ul class="facet-values list-unstyled">
                <% @subject_set_array.each do |t| %>
                <%
                  subject_name = t[0]
                  subject_count = t[1]
                %>
                <li>
                    <span class="facet-label"><a class="facet_select" href=""><%= subject_name %></a></span><span class="facet-count"><%= subject_count %></span>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>

        <%# Dates %>
        <div class="panel panel-default facet_limit blacklight-example_query_facet_field ">

          <div class="collapse-toggle panel-heading" data-toggle="collapse" data-target="#facet-example_query_facet_field">
            <h5 class="panel-title facet-field-heading">

              <a data-no-turbolink="true" href="#">Dates</a>
            </h5>
          </div>

          <div id="facet-example_query_facet_field" class="panel-collapse facet-content collapse in">
            <div class="panel-body">
              <ul class="facet-values list-unstyled">
                <li>

                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

  <div class="col-md-10">

    <div style="padding-top: 8px; padding-left: 40px; font-size: 1em">

      <div style="margin-top: 0px">

      <%
        start_index = ((@page - 1) * 10) + 1
        end_index = ((@page - 1) * 10) + @partial_list_array.size
      %>

      <% if @list_array.size == 0 %>
          <strong>No entries match this search - please try another search</strong>
      <% else %>

         <ul class="pager" style="text-align: left">

         <% if @page == 1 %>
           <li><span style="color: grey">Previous</span></li>
         <% else %>
           <li><%= link_to 'Previous', searches_path(:search_term => @search_term, :page => @page, :previous => 'true') %></li>
         <% end %>
           &nbsp;<span style="font-size: 1.1em"><%= start_index %> - <%= end_index %> of <strong><%= @list_array.size %></strong></span>&nbsp;
         <% if @list_array.size <= 10 || (((@page - 1) * 10) + 10) > @list_array.size %>
           <li><span style="color: grey">Next</span></li>
         <% else %>
           <li><%= link_to 'Next', searches_path(:search_term => @search_term, :page => @page, :next => 'true') %></li>
         <% end %>

         </ul>

      <% end %>

      </div>

      <hr style="margin: 25px 0px 20px 0px; padding: 0px; text-align: left; width: 60%"/>

      <% if @partial_list_array.size > 0 %>

          <% index = start_index %>

          <% @partial_list_array.each_with_index do |t| %>

             <%
               entry_id = t[0]
               title = t[1]
               type = t[2] # Person, Place, Subject, etc
               entry = t[3]
               register = t[4]
               folio_id = t[5]
             %>

              <div style="padding-bottom: 15px">

                <%= index %>.&nbsp;&nbsp;<%= link_to title, searches_show_path(:entry_id => entry_id, :folio_id => folio_id, :search_term => @search_term, :page => @page) %>

                <% index = index + 1 %>

                <div class="results_table">
                  <table>
                    <tr>
                      <th>Type:</th>
                      <td><%= type %></td>
                    </tr>
                    <tr>
                      <th>Entry:</th>
                      <td><%= entry %></td>
                    </tr>
                    <tr>
                      <th>Register:</th>
                      <td><%= register %></td>
                    </tr>
                  </table>
                </div>
              </div>
          <% end %>

      <% end %>

    </div>
  </div>
</div>

<div id="footer" class="row" style="height: 60px">
  <div class="col-md-12">
  </div>
</div>


