<div class="row">

  <div class="col-md-3"></div>

  <div id="sidebar" class="col-md-2">

    <div id="facets" class="facets sidenav" style="padding-top: 25px">

      <div class="top-panel-heading panel-heading">
        <!--<h4 class="facets-heading" style="font-size: 1.1em">
          Limit your search
        </h4>-->
      </div>

      <div id="facet-panel-collapse" class="collapse in panel-group">

      <%# Section Type %>
        <div class="panel panel-default facet_limit blacklight-format ">

          <div class="collapse-toggle panel-heading" data-toggle="collapse" data-target="#facet-format" aria-expanded="false">
            <h5 class="panel-title facet-field-heading">
              <a data-no-turbolink="true" href="#">Section Types</a>
            </h5>
          </div>

          <div id="facet-format" class="panel-collapse facet-content collapse in" aria-expanded="false">
            <div class="panel-body">
              <ul class="facet-values list-unstyled">
                <% @section_type_facet_array.each do |t| %>
                    <%
                       section_type_name = t[0]
                       section_type_count = t[1]
                    %>
                    <li>
                      <span class="facet-label"><a class="facet_select" href=""><%= section_type_name %></a></span><span class="facet-count"><%= section_type_count %></span>
                    </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>

        <%# Person %>
        <div class="panel panel-default facet_limit blacklight-format ">

          <div class="collapse-toggle panel-heading" data-toggle="collapse" data-target="#facet-format" aria-expanded="false">
            <h5 class="panel-title facet-field-heading">
              <a data-no-turbolink="true" href="#">People</a>
            </h5>
          </div>

          <div id="facet-format" class="panel-collapse facet-content collapse in" aria-expanded="false">
            <div class="panel-body">
              <ul class="facet-values list-unstyled">
                <% @person_as_written_facet_array.each do |t| %>
                <%
                  person_as_written_name = t[0]
                  person_as_written_count = t[1]
                %>
                <li>
                  <span class="facet-label"><a class="facet_select" href=""><%= person_as_written_name %></a></span><span class="facet-count"><%= person_as_written_count %></span>
                </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>

        <%# Places %>
        <div class="panel panel-default facet_limit blacklight-pub_date ">

          <div class="collapse-toggle panel-heading" data-toggle="collapse" data-target="#facet-pub_date" aria-expanded="false">
            <h5 class="panel-title facet-field-heading">
              <a data-no-turbolink="true" href="#">Places</a>
            </h5>
          </div>

          <div id="facet-pub_date" class="panel-collapse facet-content collapse in" aria-expanded="false">
            <div class="panel-body">
              <ul class="facet-values list-unstyled">
                <% @place_as_written_facet_array.each do |t| %>
                <%
                  place_name = t[0]
                  place_count = t[1]
                %>
                <li>
                  <span class="facet-label"><a class="facet_select" href=""><%= place_name %></a></span><span class="facet-count"><%= place_count %></span>
                </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>

        <%# Subjects %>
        <div class="panel panel-default facet_limit blacklight-subject_topic_facet ">

          <div class="collapse-toggle panel-heading" data-toggle="collapse" data-target="#facet-subject_topic_facet" aria-expanded="false">
            <h5 class="panel-title facet-field-heading">
              <a data-no-turbolink="true" href="#">Subjects</a>
            </h5>
          </div>

          <div id="facet-subject_topic_facet" class="panel-collapse facet-content collapse in" aria-expanded="false">
            <div class="panel-body">
              <ul class="facet-values list-unstyled">
                <% @subject_facet_array.each do |t| %>
                <%
                  subject_name = t[0]
                  subject_count = t[1]
                %>
                <li>
                    <span class="facet-label"><a class="facet_select" href=""><%= subject_name %></a></span><span class="facet-count"><%= subject_count %></span>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>

        <%# Dates %>
        <div class="panel panel-default facet_limit blacklight-example_query_facet_field ">

          <div class="collapse-toggle panel-heading" data-toggle="collapse" data-target="#facet-example_query_facet_field">
            <h5 class="panel-title facet-field-heading">

              <a data-no-turbolink="true" href="#">Dates</a>
            </h5>
          </div>

          <div id="facet-example_query_facet_field" class="panel-collapse facet-content collapse in">
            <div class="panel-body">
              <ul class="facet-values list-unstyled">
                <li>

                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

  <div id="search_results" class="col-md-7">

      <div style="margin-top: 40px">

      <%
        total_page_rows = (@page - 1) * @rows_per_page
        start_index = total_page_rows + 1
        end_index = total_page_rows + @partial_list_array.size
      %>

      <% if @number_of_rows == 0 %>
          <strong>No entries match this search - please try another search</strong>
      <% else %>

         <ul class="pager" style="text-align: left">

         <% if @page == 1 %>
           <li><span style="color: grey">Previous</span></li>
         <% else %>
           <li><%= link_to 'Previous', searches_path(:search_term => @search_term, :page => @page, :previous => 'true') %></li>
         <% end %>
           &nbsp;<span style="font-size: 1.1em"><%= start_index %> - <%= end_index %> of <strong><%= @number_of_rows %></strong></span>&nbsp;
         <% if @number_of_rows <= @rows_per_page || total_page_rows + @rows_per_page >= @number_of_rows %>
           <li><span style="color: grey">Next</span></li>
         <% else %>
           <li><%= link_to 'Next', searches_path(:search_term => @search_term, :page => @page, :next => 'true') %></li>
         <% end %>

         </ul>

      <% end %>

      </div>

      <hr style="margin: 25px 0px 20px 0px; padding: 0px; text-align: left; width: 60%"/>

      <% if @partial_list_array.size > 0 %>

          <% @partial_list_array.each_with_index do |t, index| %>

             <%
               entry_id = t[0]
               title = t[1]
               folio_id = t[2]
               entry_type = t[3]
               section_type = t[4]
               summary = t[5]
               marginalia = t[6]
               language = t[7]
               subject = t[8]
               note = t[9]
               editorial_note = t[10]
               is_referenced_by = t[11]
               place_as_written = t[12]
               place_role = t[13]
               place_type = t[14]
               place_note = t[15]
               person_as_written = t[16]
               person_role = t[17]
               person_descriptor = t[18]
               person_descriptor_as_written = t[19]
               person_note = t[20]
             %>

              <div style="padding-bottom: 15px">

                <span class="results_title"><%= total_page_rows + index + 1 %>.&nbsp;&nbsp;<%= link_to title, searches_show_path(:entry_id => entry_id, :folio_id => folio_id, :folio_title => title, :search_term => @search_term, :page => @page) %></span>

                <div class="results_table">

                  <table>

                    <% if entry_type != '' %>
                        <tr>
                          <th>Entry Type:</th>
                          <td><%= entry_type.html_safe %></td>
                        </tr>
                    <% end %>

                    <% if section_type != '' %>
                    <tr>
                      <th>Section Type:</th>
                      <td><%= section_type.html_safe %></td>
                    </tr>
                    <% end %>

                    <% if summary != '' %>
                        <tr>
                          <th>Summary:</th>
                          <td><%= summary.html_safe %></td>
                        </tr>
                    <% end %>

                    <% if marginalia != '' %>
                        <tr>
                          <th>Marginalia:</th>
                          <td><%= marginalia.html_safe %></td>
                        </tr>
                    <% end %>

                    <% if language != '' %>
                        <tr>
                          <th>Language:</th>
                          <td><%= language.html_safe %></td>
                        </tr>
                    <% end %>

                    <% if subject != '' %>
                        <tr>
                          <th>Subject:</th>
                          <td>
                           <%= subject.html_safe %>
                           </td>
                        </tr>
                    <% end %>

                    <% if note != '' %>
                        <tr>
                          <th>Note:</th>
                          <td><%= note.html_safe %></td>
                        </tr>
                    <% end %>

                    <% if editorial_note != '' %>
                        <tr>
                          <th>Editorial Note:</th>
                          <td><%= editorial_note.html_safe %></td>
                        </tr>
                    <% end %>

                    <% if is_referenced_by != '' %>
                        <tr>
                          <th>Is Referenced By:</th>
                          <td><%= is_referenced_by.html_safe %></td>
                        </tr>
                    <% end %>

                    <% if place_as_written != '' %>
                        <tr>
                          <th>Place As Written:</th>
                          <td><%= place_as_written.html_safe %></td>
                        </tr>
                    <% end %>

                    <% if place_role != '' %>
                        <tr>
                          <th>Place Role:</th>
                          <td><%= place_role.html_safe %></td>
                        </tr>
                    <% end %>

                    <% if place_type != '' %>
                        <tr>
                          <th>Place Type:</th>
                          <td><%= place_type.html_safe %></td>
                        </tr>
                    <% end %>

                    <% if place_note != '' %>
                        <tr>
                          <th>Place Note:</th>
                          <td><%= place_note.html_safe %></td>
                        </tr>
                    <% end %>

                    <% if person_as_written != '' %>
                        <tr>
                          <th>Person As Written:</th>
                          <td><%= person_as_written.html_safe %></td>
                        </tr>
                    <% end %>

                    <% if person_role != '' %>
                        <tr>
                          <th>Person Role:</th>
                          <td><%= person_role.html_safe %></td>
                        </tr>
                    <% end %>

                    <% if person_descriptor != '' %>
                        <tr>
                          <th>Person Descriptor:</th>
                          <td><%= person_descriptor.html_safe %></td>
                        </tr>
                    <% end %>

                    <% if person_descriptor_as_written != '' %>
                        <tr>
                          <th>Person Descriptor As Written:</th>
                          <td><%= person_descriptor_as_written.html_safe %></td>
                        </tr>
                    <% end %>

                    <% if person_note != '' %>
                        <tr>
                          <th>Person Note:</th>
                          <td><%= person_note.html_safe %></td>
                        </tr>
                    <% end %>

                  </table>
                </div>
              </div>
          <% end %>

      <% end %>

  </div>
</div>

<%# Add some extra space below search results %>
<div class="row" style="height: 60px">
  <div class="col-md-12">
  </div>
</div>


