<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6" style="padding: 20px">
    <h1>Explore further resources</h1>
    <ul>
      <%# <li><%= link_to 'Lesson plans and supporting material', '#lessons' %>
      <%# </li> %>
      <li><%= link_to 'Youtube videos', '#videos' %></li>
      <li><%= link_to 'Podcasts', '#podcasts' %></li>
      <li><%= link_to 'Presentations', '#presentations' %></li>
      <li><%= link_to 'Books and articles', '#books' %>
      </ul>
      <%# <a id="lessons"></a>
      <h2>Lesson plans and supporting material</h2>
      ... %>
      <a id="videos"></a>
      <h2>Youtube videos</h2>
      <p>Our <a href="https://www.youtube.com/channel/UCtEfiiwcrr-D_hfQkxKtUnA">Youtube site</a> contains a number of video presentations to help you learn more about 
        both the registers and The National Archives material. </p>
      <a id="podcasts"></a>
      <h2>Podcasts</h2>
      <p> </p>
      <iframe src="https://anchor.fm/borthwick/embed/episodes/Deans--Deaneries-and-Deacons-enbogv/a-a41eejn" width="100%" frameborder="0" scrolling="no"></iframe>
      <a id="presentations"></a>
      <h2>Presentations</h2>
      <h3>Presentation one - Introduction</h3>
      <ul>
        <li aria-level="1"><a href="https://www.york.ac.uk/media/history/documents/thenorthernway/One_a-Introduction-JUNE-2020.pptx">Introduction (MS PowerPoint, 37,215kb)</a>
          - The narrated text is included verbatim in the PowerPoint presentation, in the &lsquo;Notes&rsquo; section.</li>
      </ul>
      <h3>Presentation two - Medieval Ecclesiastical Administration</h3>
      <ul>
        <li aria-level="1"><a href="https://www.york.ac.uk/media/history/documents/thenorthernway/Two-Medieval-Ecclesiastical-Administration.pptx">Medieval Ecclesiastical Administration (MS PowerPoint, 46,316kb)</a></li>
        <li aria-level="1"><a href="https://www.york.ac.uk/media/history/documents/thenorthernway/Medieval-Ecclesiastical-Administration-Handout.pdf">Medieval Ecclesiastical Administration - Handout (PDF, 121kb)</a></li>
        <li aria-level="1"><a href="https://www.york.ac.uk/media/history/documents/thenorthernway/Medieval-Ecclesiastical-Administration-Glossary.pdf">Medieval Ecclesiastical Administration - Glossary (PDF, 84kb)</a></li>
        <li aria-level="1"><a href="https://www.york.ac.uk/media/history/documents/thenorthernway/Medieval-Ecclesiastical-Administration-narrated-text.pdf">Medieval Ecclesiastical Administration - narrated text (PDF, 89kb)</a></li>
        <li aria-level="1"><a href="https://docs.google.com/document/d/1dlExR_cs5yN0XaJy9f5od-OUu4StfZ7_RHNpADvmWCE/edit?ts=5fabbe6e">Medieval Ecclesiastical Administration - exercise worksheet</a> (Opens in Google drive)</li>
      </ul>
      <h3>Presentation three -Archbishops as Patrons and Builders</h3>
      <ul>
        <li aria-level="1"><a href="https://www.york.ac.uk/media/history/documents/thenorthernway/ARCHBISHOPS-AS-PATRONS-AND-BUILDERS.pptx">ARCHBISHOPS AS PATRONS AND BUILDERS (MS PowerPoint, 22,038kb)</a></li>
        <li aria-level="1"><a href="https://www.york.ac.uk/media/history/documents/thenorthernway/ARCHBISHOPS-AS-PATRONS-AND-BUILDERS-Notes-to-pptx.docx">ARCHBISHOPS AS PATRONS AND BUILDERS Notes (MS Word, 87kb)</a></li>
      </ul>
      <h3>Presentation four -Chantries and Communities</h3>
      <ul>
        <li aria-level="1"><a href="https://drive.google.com/file/d/1vLq7NtosIbsRB7Hxznl04hJbA80Y6IqN/view">Chantries and Communities in the Archdeaconry of Nottingham with audio</a> (Opens in Google Drive - please download the file to listen to the audio commentary)</li>
        <li aria-level="1"><a href="https://www.york.ac.uk/media/history/documents/thenorthernway/Chantries-and-Communities-in-the-Archdeaconry-of-Nottingham-text-Revised.docx">Chantries and Communities in the Archdeaconry of Nottingham (MS Word, 29kb)</a></li>
      </ul>
      <h3>Presentation five - The Collections of The National Archives</h3>
      <ul>
        <li aria-level="1"><a href="https://drive.google.com/file/d/1LswlnuEiGt87hZ_jV3GP2e4mj-DEFXuv/view">The Collections of The National Archives with audio</a> (Opens in Google Drive - please download the file to listen to the audio commentary)</li>
        <li aria-level="1"><a href="https://www.york.ac.uk/media/history/documents/thenorthernway/Presentation%20five%20-%20The%20collections%20of%20The%20National%20Archives.docx">The Collections of The National Archives (MS Word, 16kb)</a></li>
      </ul>
      <h3>Presentation six - Church and State part 1 (Chancery)</h3>
      <ul>
        <li aria-level="1"><a href="https://drive.google.com/file/d/1iDKBc7BWAhP_BqpvwnlAvIBD0rJVBETI/view?ts=5fa6b855">Church and State part 1: The Mechanics of Government (Chancery)</a> (Opens in Google Drive - please download the file to listen to the audio commentary)</li>
        <li aria-level="1"><a href="https://drive.google.com/file/d/1uSkGxkZVDM95Olb2YLYDZRH88pLA25Z_/view">Narrated text</a> (Opens in Google Drive)</li>
      </ul>
      <h3>Presentation seven - Church and State part 2 (Exchequer)</h3>
      <ul>
        <li aria-level="1"><a href="https://drive.google.com/file/d/1w01aegqA3FqlN6119ffNlg57pr2T0Vf2/view?ts=5fa6b86c">Church and State part 2: The Mechanics of Government (Exchequer)</a> (Opens in Google Drive - please download the file to listen to the audio commentary)</li>
        <li aria-level="1"><a href="https://drive.google.com/file/d/1UOfESYzESXDvTlRp9gftwX4T9AFn2x0D/view">Narrated text</a> (Opens in Google Drive)</li>
      </ul>
      <h3>Presentation eight - Visitations and Joan of Leeds</h3>
      <ul>
        <li aria-level="1"><a href="https://drive.google.com/file/d/1__z9bmk4NvuTH1EzQU-w6J1VIYko8Gmg/view?ts=5fa6b8a8">Visitations and Joan of Leeds</a> (Opens in Google Drive - please download the file to listen to the audio commentary)</li>
        <li aria-level="1"><a href="https://www.york.ac.uk/media/history/documents/thenorthernway/Presentation%208.%20More%20information%20on%20Joan%20of%20Leeds%20and%20the%20priory%20of%20St%20Clement%20in%20York.pdf">More information on Joan of Leeds and the priory of St Clements in York (PDF, 61kb)</a></li>
        <li aria-level="1"><a href="https://drive.google.com/file/d/1IhtnKSm_3bEqtKJpbu0phkgeExmAovFc/view">Joan of Leeds questionnaire</a> (Opens in Google Drive)</li>
      </ul>
      <h3>Presentation nine - Local places</h3>
      <ul>
        <li aria-level="1"><a href="https://drive.google.com/file/d/1XkofsLqWdWUmFr0pTIUMkeDulLsscv4I/view?ts=5faafc18">Local places: combining history and archaeology</a> (Opens in Google Drive - please download the file to listen to the audio commentary)</li>
      </ul>
      <h3>Presentation ten - Reading the Registers</h3>
      <p><a href="https://drive.google.com/file/d/1G2Ql6jazLrvS5SYpDa6eNHUvoSnWz5nc/view?ts=5fa6ba25">Reading the Registers: Dates and Numbers, Weights and Measures</a> (Opens in Google Drive - please download the file to listen to the audio commentary)</p>
      <a id="books"></a>
      <h2>Books and articles</h2>
      <h3>Contextual works</h3>
      <ul>
        <li aria-level="1">C. J. Offer, The Bishop&rsquo;s Register (London, 1929)</li>
        <li aria-level="1">A. Hamilton Thompson, &lsquo;The Registers of the Archbishops of York&rsquo;, Yorkshire Archaeological Journal 32 (1936), 245-6</li>
        <li aria-level="1">J. S. Purvis, An Introduction to Ecclesiastical Records (London, 1953)</li>
        <li aria-level="1">D. M. Owen, The Records of the Established Church in England, British Records Association, Archives and the User, No. 1 (British Records Association, 1970)</li>
        <li aria-level="1">D. Robinson, &lsquo;Bishops&rsquo; Registers&rsquo;, in Short Guides to Records, 2nd series: Guides 25-48, ed. K. M. Thompson, The Historical Association (London, 1997), pp. 44-49</li>
        <li aria-level="1">D. M. Smith, A Guide to Bishops&rsquo; Registers in England and Wales: a Survey from the Middle Ages to the Abolition of the Episcopacy in 1646, Royal Historical Society, Guides and Handbooks series, 11 (London, 1981) and Supplement to the &lsquo;Guide to Bishops&rsquo; Registers&hellip;, CYS (York, 2004)</li>
        <li aria-level="1">H. Watt, &lsquo;Archbishops&rsquo; Registers Revealed: Church, State and Society in the Registers of the Archbishops of York, 1225-c.1650&rsquo;, in ed. C. Taylor and G. Dodd, Monarchy, State and Political Culture in Late Medieval England: Essays in Honour of W. Mark Ormrod (University of York, York Medieval Press, 2020), 188-209</li>
        <li aria-level="1">E. F. Jacob, The Medieval Registers of Canterbury and York: Some Points of Comparison (London, 1953)</li>
        <li aria-level="1">W. A. Pantin, The English Church in the Fourteenth Century (Cambridge, 1955)<br />
        </li>
      </ul>
      <h3><br />
        Published editions of the registers<br />
      </h3>
      <ul>
        <li aria-level="1">The Register or Rolls of Walter Grey, Lord Archbishop of York, ed. James Raine, Surtees Society 56 (1872)</li>
        <li aria-level="1">The Register of Walter Giffard, Lord Archbishop of York 1266-1279, ed. William Brown, Surtees Society 109 (1904)</li>
        <li aria-level="1">The Register of William Wickwane, Lord Archbishop of York 1279-1285, ed. William Brown, Surtees Society 114 (1907)</li>
        <li aria-level="1">The Register of John le Romeyn, Lord Archbishop of York 1286-1296 Part I, ed. William Brown, Surtees Society 123 (1912)</li>
        <li aria-level="1">The Registers of John le Romeyn, Lord Archbishop of York 1286-1296 Part II, and the Register of Henry of Newark, Lord Archbishop of York 1296-1299, ed. William Brown, Surtees Society 128 (1916)</li>
        <li aria-level="1">The Register of Thomas of Corbridge, Lord Archbishop of York, 1300-1304, Part I, ed. William Brown, Surtees Society 138 (1925)</li>
        <li aria-level="1">The Register of Thomas of Corbridge, Lord Archbishop of York, 1300-1304, Part II, ed. William Brown, and A. Hamilton Thompson, Surtees Society 141 (1928), 165-80 (vacancy register, 1304-1306; Reg 5A, ff. 69-81)</li>
        <li aria-level="1">The Register of William Greenfield Lord Archbishop of York 1306-1315 Part I, ed. William Brown and A. Hamilton Thompson, Surtees Society 145 (1931) (register of vicar-general, 1306; Reg 5A, ff. 83-84)</li>
        <li aria-level="1">The Register of William Greenfield Lord Archbishop of York 1306-1315 Part I, ed. William Brown and A. Hamilton Thompson, Surtees Society 145 (1931) (chapters, Reg 7 ff. 1-45; Reg 8, ff. 1-23; officiality, Reg 7, ff. 46-56; Reg 8, ff. 24-39; <em>ballive</em>, Reg 7, ff. 57-108; Reg 8, ff. 40-58)</li>
        <li aria-level="1">The Register of William Greenfield Lord Archbishop of York 1306-1315 Part II, ed. William Brown and A. Hamilton Thompson, Surtees Society 149 (1934) (archdeaconry of York, Reg 7, ff. 109-155; Reg 8, ff. 59-114)</li>
        <li aria-level="1">The Register of William Greenfield Lord Archbishop of York 1306-1315 Part III, ed. William Brown and A. Hamilton Thompson, Surtees Society 151 (1936) (archdeaconry of Cleveland, Reg 7, ff. 156-191; Reg 8, ff. 115-135; archdeaconry of the East Riding, Reg 7, ff. 192-224; Reg 8, 136-163)</li>
        <li aria-level="1">The Register of William Greenfield Lord Archbishop of York 1306-1315 Part IV, ed. William Brown and A. Hamilton Thompson, Surtees Society 152 (1936) (archdeaconry of Nottingham, Reg 7, ff. 225-266; Reg 8, ff. 164-211 (including miscellaneous entries); archdeaconry of Richmond, Reg 7, ff. 267-277; Reg 8, 212-223; <em>intrinseca camere</em>, 1306-1311, Reg 7, ff. 278-325)</li>
        <li aria-level="1">The Register of William Greenfield Lord Archbishop of York 1306-1315 Part V, ed. William Brown and A. Hamilton Thompson, Surtees Society 153 (1940) (<em>intrinseca camere</em>, 1311-1315, Reg 8, ff. 223-256; suffragans, Reg 7, ff. 326-348; Reg 8, ff. 257-271; Allertonshire and Howdenshire, Reg 8, ff. 272-278; 285 (including miscellaneous entries); homages, Reg 8, ff. 279-288; registers of vicars-general, Reg 8, ff. 300-314; register of business following visitations of 1308-1309, Reg 7, ff. 142-174)</li>
        <li aria-level="1">The Register of William Melton, Archbishop of York, 1317&ndash;1340, volume I, ed. R. M. T. Hill, Canterbury &amp; York Society, 70 (1977), (ff. 555-621)</li>
        <li aria-level="1">The Register of William Melton, Archbishop of York, 1317&ndash;1340, volume II, ed. D. B. Robinson, Canterbury &amp; York Society 71 (1978) (ff. 269-320v)</li>
        <li aria-level="1">The Register of William Melton, Archbishop of York, 1317&ndash;1340, volume III, ed. R. M. T. Hill, Canterbury &amp; York Society, 76 (1988) (ff. 622&ndash;688v)</li>
        <li aria-level="1">The Register of William Melton, Archbishop of York, 1317&ndash;1340, volume IV, ed. R. Brocklesby, Canterbury &amp; York Society, 85 (1997) (ff. 400&ndash;477)</li>
        <li aria-level="1">The Register of William Melton, Archbishop of York, 1317&ndash;1340, volume V, ed. T. C. B. Timmins, Canterbury &amp; York Society, 93 (2002) (ff. 83&ndash;151)</li>
        <li aria-level="1">The Register of William Melton, Archbishop of York, 1317&ndash;1340, volume VI, ed. D. B. Robinson, Canterbury &amp; York Society, 101 (2011) (ff. 321-399).</li>
        <li aria-level="1">A calendar of the register of Robert Waldby, Archbishop of York, 1397, ed. D. M. Smith, Borthwick Texts and Calendars: Records of the Northern Province 2 (1974)</li>
        <li aria-level="1">A Calendar of the Register of Richard Scrope, Archbishop of York, 1398-1405, ed. R. N. Swanson, Part I Borthwick Texts and Calendars: Records of the Northern Province 8 (1981) (ff. 1-110)</li>
        <li aria-level="1">A Calendar of the Register of Richard Scrope, Archbishop of York, 1398-1405, ed. R. N. Swanson, Part II Borthwick Texts and Calendars: Records of the Northern Province 11 (1985) (ff. 114-180)</li>
        <li aria-level="1">The Register of Thomas Rotherham, Archbishop of York 1480-1500 Part I, ed. Barker, Canterbury &amp; York Society 69 (1976)</li>
        <li aria-level="1">Pontifical of Christopher Bainbridge, Archbishop of York, ed. William George Henderson, Surtees Society 61 (1875)</li>
      </ul>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>
