<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6" style="padding: 20px">
    <h1>Information about us</h1>
    <ul>
      <li><%= link_to 'Our project and funders', '#project' %></li>
      <li><%= link_to 'Our supporters', '#suporters' %></li>
      <li><%= link_to 'About the site', '#site' %></li>
      <li><%= link_to 'Keeping up to date', '#media' %>
      </ul>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-4 project">
    <a id="project"></a>
    <h2>Our projects and funders</h2>
    <p>This database is the product of a number of different digitisation and cataloguing projects, 
      and we are hugely grateful to all our funders for their ongoing support of our work.</p>
    <p>Pilot imaging and development, as well as the indexing of the register of Archbishop Neville 
      (1374-1388) was funded by the Andrew W. Mellon Foundation. The conservation, imaging and technical 
      development phases of the wider York project were also generously funded in 2014 and 2015 by 
      the Andrew W. Mellon Foundation as part of the 
      <a href="https://www.york.ac.uk/borthwick/resources/archbishops-registers/">
        York’s Archbishops’ Registers Revealed</a>
      project, along with the indexing of the Sede Vacante register, 1304-1306.</p>
    <p>Indexing of the registers 1570-1650 was generously funded by the Marc Fitch Fund between 
      2015 and 2016.</p>
    <p>The indexing of the registers 1304 to 1405, and the indexing of the material from The National 
      Archives (UK), was generously funded by the Arts and Humanities Research Council (AHRC) as part of 
      <a href="https://www.york.ac.uk/history/research/northern-way/">The Northern Way</a> 
      project between 2019 and 2022. This funding, totalling almost £1 million, has allowed 
      us to build on our earlier project work and undertake our most in-depth study of the registers to date. 
      The work was carried out with the support of the Dean and Chapter of York Minster, and we are immensely 
      grateful to both them and The National Archives (UK) for their involvement in the project.</p>
  </div>
  <div class="col-md-2 project" style="margin-top: 5em;">
    <%= image_tag("Mellon_16.jpg", alt: 'A women takes photo of open manuscript', class: 'img-fluid') %>
  </div>
  <div class="col-md-3"></div>
</div>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6" style="padding: 20px">
    <a id="suporters"></a>
    <h2>Our supporters </h2>
    <p>So many people have helped us with the creation and development of this database. We are hugely indebted 
      to the late Emeritus Professor Mark Ormrod, without whose vision this site would never have existed. 
      We also have to thank all the team members who have worked so hard on the project management, 
      indexing and development work to bring these registers to life:</p>
    <div style="margin-left: 3em">
      <h3>Archbishops' Registers Revealed:</h3>
      <ul>
        <li>Dr Paul Dryburgh, Access Archivist, Borthwick Institute for Archives</li>
        <li>Gary Brannan, Access Archivist, Borthwick Institute for Archives (International Summer Institute)</li>
        <li>Helen Watt, Research Assistant, Borthwick Institute for Archives (Pilot)</li>
        <li>Paul Shields, University Photographer, University of York (Pilot)</li>
        <li>Alison Fairburn, Senior Archive Conservator, Borthwick Institute for Archives</li>
        <li>Catherine Firth, Archive Conservator, Borthwick Institute for Archives</li>
        <li>Frances Cooper, Project Imager, Borthwick Institute for Archives</li>
        <li>Julie Allinson, Digital Library Manager, University of York</li>
        <li>Paul Young, IT Developer, University of York</li>
      </ul>
      <h3>Marc Fitch Project:</h3>
      <ul>
        <li>Gary Brannan, Access Archivist, Borthwick Institute for Archives</li>
        <li>Helen Watt, Research Assistant, Borthwick Institute for Archives</li>
      </ul>
      <h3>The Northern Way Project:</h3>
      <ul>
        <li>Professor Sarah Rees Jones, Principal Investigator, University of York</li>
        <li>Dr Paul Dryburgh, Access Archivist, Borthwick Institute for Archives</li>
        <li>Helen Watt, Research Assistant, Borthwick Institute for Archives (Pilot)</li>
        <li>Dr Jonathan Mackman, Research Assistant</li>
        <li>Dr Marianne Wilson, Research Assistant</li>
        <li>Dr Stefania Merlo Perring, Research Assistant</li>
        <li>Dr Shelagh Sneddon, Research Assistant</li>
        <li>Gary Brannan, Keeper of Archives, Special Collections and Art, Borthwick Institute for Archives (Project Officer to 2021)</li>
        <li>Laura Yeoman, Access and Digital Engagement Archivist, Borthwick Institute for Archives (Project Officer 2021-2022)</li>
        <li>Sebastian Palucha, Strategy Technology Leader, University of York</li>
        <li>Frank Feng, Software Engineer, University of York</li>
      </ul>
    </div>
    <br/>
    <p>There are also numerous individuals who have generously donated their time and resources to support us 
      in our work. We are very grateful to Dr David Robinson for sharing his provisional edition of sections of 
      Archbishop Melton's register in advance of their publication, and for permitting their use in indexing work. 
      We would also like to express our sincere thanks to Professor David Smith for his generous donation of 
      ordination lists and other material for the fourteenth- and fifteenth-century archbishops of York, and to 
      Dr Rosemary C. E. Hayes for all her help on The Northern Way project, especially with entries relating to 
      taxation.</p>
    <a id="site"></a>
    <h2>About the site </h2>
    <p>You can find out more here about the <a href="/technology">technical details of this website</a> and the projects. </p>
    <p>There is still a lot more work we need to do to complete the indexing work on the registers, so please check 
      back at regular intervals to find out what we will be doing next. </p>
    <a id="media"></a>
    <h2>Keeping up to date</h2>
    <p>To keep up to date with what’s happening, why not follow us on social media?</p>
    <ul>
      <li>Blog: <a href="https://thenorthernway151149306.wordpress.com/">TNW Wordpress</a></li>
      <li>Twitter: <a href="https://twitter.com/tnorthernway?lang=en">@tnorthernway</a></li>
      <li>Youtube: <a href="https://www.youtube.com/channel/UCtEfiiwcrr-D_hfQkxKtUnA">TNW Video Channel</a></li>
    </ul>
  </div>
  <div class="col-md-3"></div>
</div>
