<!-- # added (ja) -->
<div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-8" style="padding-top: 20px">

        <ul>
            <li><%= link_to 'The project', '#project' %></li>
            <li><%= link_to 'This web site', '#site' %></li>
            <li><%= link_to 'Indexing the Registers', '#indexing' %></li>
            <li><%= link_to 'Access to the data', '#access' %>
                <ul>
                    <li><%= link_to "Term lists, subject headings and authority files", '#terms' %></li>
                    <li><%= link_to 'Available vocabularies', '#vocabs' %></li>
                    <li><%= link_to 'IIIF Support', '#iiif' %></li>
                </ul>
            </li>
            <li><%= link_to 'Technology', '#tech' %></li>
            <li><%= link_to 'Licence', '#licence' %></li>
            <li><%= link_to 'Contact', '#contact' %></li>
        </ul>

        <a id="project"></a>

        <h2>The project</h2>

        <p>Read more:</p>

        <li>
            <ul>
                <%= link_to 'Archbishops’ Registers Revealed', 'https://www.york.ac.uk/borthwick/archbishops-Registers' %>
            </ul>
        </li>

        <a id="site"></a>

        <h2>This web site</h2>

        <p>This web site provides:</p>

        <ul>
            <li>A search interface to a growing number of indexed Registers:
                <ul>
                    <li>Right now, much of Register 12, and parts of Registers 31 and 5A are available.</li>
                    <li>By the end of 2016, the whole of Registers 31 and 32.</li>
                    <li>We’re also seeking funding to index other Registers. If you would like to talk to us about
                        indexing work, please <%= link_to 'contact us', '#contact' %>.
                    </li>
                </ul>
            </li>
            <li>Browsing of <strong>all</strong> Registers, including zoom-able images for each folio</li>
            <li>Browsing of people, place and organisation authority files, and subject headings for those Registers
                that have been indexed.
            </li>
        </ul>

        <a id="indexing"></a>

        <h2>Indexing the Registers</h2>

        <p>Approved editors are given access to our editing tool to add rich indexing to the Registers. Currently we
            have a project ongoing, funded by the Marc Fitch Fund, to index Registers 31 and 32 (1570-1650). Much of
            Register 12 (Alexander Neville, 1374-1388) was indexed during the original pilot phase of this project, in
            2013. We are seeking further funding to index more Registers. In addition, index data also exists for the
            Vacancy Register 1304-1306.</p>

        <p>The editing tool allows editors to index the people, places, groups, subjects and dates associated with the
            Registers. Indexing is carried out according to a data model developed for the project:</p>

        <ul>
            <li>
                <%= link_to 'Archbishops’ Registers Data Model', 'https://docs.google.com/document/d/1U3sLgaJr07d7LfvyDPT2rUnVAI1ccWp-Zeon_rlBd6o/edit?usp=sharing' %>
            </li>
        </ul>

        <a id="access"></a>

        <h2>Access to the data</h2>

        <p>The project has created some 20,000 high quality images of 45 Archbishops’ Registers. An archival master
            image is stored in our Digital Archive and is not available for download, but dissemination copies are
            available for download. We use an image viewer called ‘openseadragon’ to provide ‘deep zoom’ access
            online.</p>

        <p>The index data itself is available for searching this web site. Apart from the term lists, subject headings
            and authority files, the data cannot currently be accessed in a machine-readable form. If you would like
            access to the underlying data, please get in touch.</p>

        <a id="terms"></a>

        <h3>Term lists, subject headings and authority files</h3>

        <p>The project is developing a set of term lists, subject headings and authority files, as detailed below.
            Subject headings and authority files can be browsed in the site itself.</p>

        <ul>
            <li><%= link_to 'Browse Subject Headings', 'browse/subjects' %> </li>
            <li><%= link_to 'Browse People', 'browse/people' %> </li>
            <li><%= link_to 'Browse Groups', 'browse/groups' %> </li>
            <li><%= link_to 'Browse Places', 'browse/places' %> </li>
        </ul>
        <br/>

        <p>In addition, there is a REST API interface for querying. This feature makes use of the
            <%= link_to 'questioning_authority', 'https://github.com/projecthydra-labs/questioning_authority' %>
            gem from the
            <%= link_to 'Hydra project', 'http://projecthydra.org/' %>
            . The service will return results structured (JSON) data. Results will, as a
            minimum, return an id and label. Some terms, for example ‘people’, return additional information.</p>

        <p>Return a complete list of terms for the given vocab:
        <pre>/qa/terms/local/:vocab</pre>
        </p>

        <p>Return a set of terms matching a given query:
        <pre>/qa/search/local/:vocab?q=search_term</pre>
        </p>


        <p>Return the complete information for a specific term given its identifier:
        <pre>/qa/show/local/:vocab/:id</pre>
        </p>

        <a id="vocabs"></a>

        <h3>Available vocabularies</h3>

        <table id="vocabs-table">
            <tr>
                <th>Vocab</th>
                <th>Description</th>
                <th>Endpoints</th>
            </tr>
            <tr>
                <td>people</td>
                <td>person authority file</td>
                <td>/search<br/>
                    /show
                </td>
            </tr>
            <tr>
                <td>groups</td>
                <td>groups and organisations authority file</td>
                <td>/search<br/>
                    /show
                </td>
            </tr>
            <tr>
                <td>places</td>
                <td>places authority file</td>
                <td>/search<br/>
                    /show
                </td>
            </tr>
            <tr>
                <td>subjects</td>
                <td>subject headings scheme
                </td>
                <td>/search<br/>
                    /show<br/>
                    /terms
                </td>
            </tr>
            <tr>
                <td>person_roles<br/>
                    descriptors<br/>
                    place_types<br/>
                    place_roles<br/>
                    date_types<br/>
                    date_roles<br/>
                    entry_types<br/>
                    section_types
                </td>
                <td style="vertical-align: top">various terms lists</td>
                <td style="vertical-align: top">/search<br/>
                    /show<br/>
                    /terms
                </td>
            </tr>
        </table>

        <a id="iiif"></a>

        <h3>IIIF Support</h3>

        <p><%= link_to 'IIIF', 'http://iiif.io/' %>
            (International Image Interoperability Framework) is an international initiative to
            provide “an interoperable technology and community framework for image delivery”. IIIF publish two
            standards,
            one for serving images, which allows others applications to make use of images in a standardised way, and
            another presentation, to enable the standardised description (an IIIF Manifest) of image collections for use
            in
            different tools. The project has implemented both standards.</p>

        <p>For each register we provide an IIIF Manifest. This is a file containing structured (JSON) data compliant
            with
            the IIIF Presentation API (version 2) describing the register and its images.</p>

        <p>This manifest can be ‘plugged’ into any IIIF compliant viewer. For example the Biblissima Project is a hub
            for
            digital humanities projects in France which provides a demonstration version of the Mirador Viewer [link].
            It is
            possible to add your own IIIF Manifest to this demo site.</p>

        <ul>
            <li><%= link_to 'Biblissima Mirador Viewer', 'http://demos.biblissima-condorcet.fr/mirador/#27af4c40-8f6c-4aaf-9911-1a83a3e862e3' %></li>
        </ul>

        <a id="tech"></a>

        <h2>Technology</h2>

        <p>The search interface and editing tool have been built using the
            <%= link_to 'Ruby on Rails Framework', 'http://rubyonrails.org/' %>
            with components from the
            <%= link_to 'Hydra Project', 'https://github.com/projecthydra' %>.</p>

        <p>
            The back-end repository and data store is
            <%= link_to 'Fedora Commons', 'http://www.fedora-commons.org/' %>
            (version 4 for the
            index data, version 3 for the images).</p>

        <p>
            The search index is powered by
            <%= link_to 'Solr', 'http://lucene.apache.org/solr/' %>.</p>

        <p>
            Image viewing is delivered with <%= link_to 'Openseadragon', 'https://openseadragon.github.io/' %>.
        </p>

        <p>Code for the search interface and editing tool is available on GitHub. The code is not yet fully documented
            so
            please contact us if you want to know more.</p>

        <ul>
            <li><%= link_to 'Search and Browse Interface', 'https://github.com/digital-york/arch1_search' %></li>
            <li><%= link_to 'Editing Tool', 'https://github.com/digital-york/arch1' %></li>
        </ul>

        <a id="licence"></a>

        <h2>Licence</h2>

        <p>All of the images and data are made available under a
            <%= link_to 'Creative Commons Attribution ShareAlike 4.0 Licence', 'http://creativecommons.org/licenses/by-sa/4.0/' %>
        </p>

        <a id="contact"></a>

        <h2>Contact</h2>

        <p>If you have comment, questions or are experiencing any problems in using the site, please contact us:</p>

        <ul>
            <li><%= mail_to 'borthwick-institute@york.ac.uk' %> (for queries about the Registers)</li>
            <li><%= mail_to 'dlib-info@york.ac.uk' %> (for technical queries)</li>
        </ul>

    </div>

    <div class="col-md-2"></div>
</div>