<!-- # added (ja) -->
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6" style="padding-top: 20px">
    <h1>Technical details</h1>
    <ul>
      <li><%= link_to 'The project', '#project' %></li>
      <li><%= link_to 'This web site', '#site' %></li>
      <li><%= link_to 'Indexing the Registers', '#indexing' %></li>
      <li><%= link_to 'Access to the data', '#access' %>
        <ul>
          <li><%= link_to "Term lists, subject headings and authority files", '#terms' %></li>
          <li><%= link_to 'Available vocabularies', '#vocabs' %></li>
          <li><%= link_to 'IIIF Support', '#iiif' %></li>
        </ul>
      </li>
      <li><%= link_to 'Technology', '#tech' %></li>
      <li><%= link_to 'Licence', '#licence' %></li>
      <li><%= link_to 'Contact', '#contact' %></li>
    </ul>
    <a id="project"></a>
    <h2>The project</h2>
    <p>Read more:</p>
    <ul>
      <li>
        <%= link_to 'Archbishops’ Registers Revealed', 'https://www.york.ac.uk/borthwick/projects/archbishops-registers/' %>
      </li>
    </ul>
    <a id="site"></a>
    <h2>This web site</h2>
    <p>This web site provides:</p>
    <ul>
      <li>A search interface to a growing number of indexed Registers:
        <ul>
          <li>Right now, much of Register 12, and parts of Registers 31 and 5A are available.</li>
          <li>By the end of 2016, the whole of Registers 31 and 32 will be indexed.</li>
          <li>We’re also seeking funding to index other Registers. If you would like to talk to us about
            indexing work, please <%= link_to 'contact us', '#contact' %>.
          </li>
        </ul>
      </li>
      <li>Browsing of <strong>all</strong> 45 Registers, including zoom-able images for each folio</li>
      .
      <li>Browsing of people, place and organisation authority files, and subject headings for those Registers
        that have been indexed.
      </li>
    </ul>
    <a id="indexing"></a>
    <h2>Indexing the Registers</h2>
    <p>Approved editors are given access to our editing tool to add rich indexing to the Registers. Currently we
      have a project ongoing, funded by the Marc Fitch Fund, to index Registers 31 and 32 (1570-1650). Much of
      Register 12 (Alexander Neville, 1374-1388) was indexed during the original pilot phase of the Mellon-funded Archbishops' Registers project, in
      2012. We are seeking further funding to index more Registers. In addition, index data also exists for the
      Vacancy Register 1304-1306.</p>
    <p>The editing tool allows editors to index the people, places, groups, subjects and dates associated with the
      Registers. Indexing is carried out according to a data model developed for the project:</p>
    <ul>
      <li>
        <%= link_to 'Archbishops’ Registers Data Model', 'https://docs.google.com/document/d/1U3sLgaJr07d7LfvyDPT2rUnVAI1ccWp-Zeon_rlBd6o/edit?usp=sharing' %>
      </li>
    </ul>
    <a id="access"></a>
    <h2>Access to the data</h2>
    <p>The project has created some 21,647 high quality images of 45 Archbishops’ Registers. An archival master
      image is stored in our Digital Archive and is not available for download, but dissemination copies are
      available. We use an image viewer called ‘openseadragon’ to provide ‘deep zoom’ access
      online.</p>
    <p>The index data itself is available for searching in this web site. Apart from the term lists, subject headings
      and authority files, the data cannot currently be accessed in a machine-readable form. If you would like
      access to the underlying data, please get in touch.</p>
    <a id="terms"></a>
    <h2>Term lists, subject headings and authority files</h2>
    <p>The project is developing a set of term lists, subject headings and authority files, as detailed below.
      Subject headings and authority files can be browsed in the site itself.</p>
    <ul>
      <li><%= link_to 'Browse Subject Headings', 'browse/subjects' %> </li>
      <li><%= link_to 'Browse People', 'browse/people' %> </li>
      <li><%= link_to 'Browse Groups', 'browse/groups' %> </li>
      <li><%= link_to 'Browse Places', 'browse/places' %> </li>
    </ul>
    <br/>
    <p>In addition, there is a REST API for querying accessing these lists. This feature makes use of the
      <%= link_to 'questioning_authority', 'https://github.com/projecthydra-labs/questioning_authority' %>
      gem from the
      <%= link_to 'Hydra project', 'http://projecthydra.org/' %>
      . The service will return results structured (JSON) data. Results will, as a
      minimum, return an id and label. Some terms, for example ‘people’, return additional information.</p>
    <p>Return a complete list of terms for the given vocab:
      <pre>/qa/terms/local/:vocab</pre>
    </p>
    <p>Return a set of terms matching a given query:
      <pre>/qa/search/local/:vocab?q=search_term</pre>
    </p>
    <p>Return the complete information for a specific term given its identifier:
      <pre>/qa/show/local/:vocab/:id</pre>
    </p>
    <a id="vocabs"></a>
    <h2>Available vocabularies</h2>
    <table class="vocabs-table">
      <tr>
        <th>Vocab</th>
        <th>Description</th>
        <th>Endpoints</th>
      </tr>
      <tr>
        <td>people</td>
        <td>person authority file</td>
        <td>/search<br/>
          /show
        </td>
      </tr>
      <tr>
        <td>groups</td>
        <td>groups and organisations authority file</td>
        <td>/search<br/>
          /show
        </td>
      </tr>
      <tr>
        <td>places</td>
        <td>places authority file</td>
        <td>/search<br/>
          /show
        </td>
      </tr>
      <tr>
        <td>subjects</td>
        <td>subject headings scheme
        </td>
        <td>/search<br/>
          /show<br/>
          <!-- /terms -->
        </td>
      </tr>
      <tr>
        <td>person_roles<br/>
          descriptors<br/>
          place_types<br/>
          place_roles<br/>
          date_types<br/>
          date_roles<br/>
          entry_types<br/>
          section_types
        </td>
        <td style="vertical-align: top">various terms lists</td>
        <td style="vertical-align: top">/search<br/>
          /show<br/>
          /terms
        </td>
      </tr>
    </table>
    <a id="iiif"></a>
    <h2>IIIF Support</h2>
    <%= render 'iiif/iiif' %>
    <p></p>
    <p>See a list of available manifests:</p>
    <ul>
      <li><%= link_to 'Manifests', iiif_index_path %></li>
    </ul>
    <a id="tech"></a>
    <h2>Technology</h2>
    <p>The search interface and editing tool have been built using the
      <%= link_to 'Ruby on Rails Framework', 'http://rubyonrails.org/' %>
      with components from the
      <%= link_to 'Hydra Project', 'https://github.com/projecthydra' %>.</p>
    <p>
      The back-end repository and data store is
      <%= link_to 'Fedora Commons', 'http://www.fedora-commons.org/' %>
      (version 4 for the
      index data, version 3 for the images).</p>
    <p>
      The search index is powered by
      <%= link_to 'Solr', 'http://lucene.apache.org/solr/' %>.</p>
    <p>
      Image viewing is delivered with <%= link_to 'Openseadragon', 'https://openseadragon.github.io/' %>.
    </p>
    <p>Code for the search interface and editing tool is available on GitHub. The code is not yet fully documented
      so
      please contact us if you want to know more.</p>
    <ul>
      <li><%= link_to 'Search and Browse Interface', 'https://github.com/digital-york/arch1_search' %></li>
      <li><%= link_to 'Editing Tool', 'https://github.com/digital-york/arch1' %></li>
    </ul>
    <a id="licence"></a>
    <h2>Licence</h2>
    <p>All of the images and data are made available under a
      <%= link_to 'Creative Commons Attribution ShareAlike 4.0 Licence', 'http://creativecommons.org/licenses/by-sa/4.0/' %>
    </p>
    <a id="contact"></a>
    <h2>Contact</h2>
    <p>If you have comment, questions or are experiencing any problems in using the site, please contact us:</p>
    <ul>
      <li><%= mail_to 'borthwick-institute@york.ac.uk' %> (for queries about the Registers)</li>
      <li><%= mail_to 'dti-service-desk-group@york.ac.uk' %> (for technical queries)</li>
    </ul>
  </div>
  <div class="col-md-3"></div>
</div>
