<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Archbishops&#39; Registers Search Tool</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
</head>

<body>

<div class="container-fluid">

  <div id="banner" class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8" style="padding-top: 10px">
      <%= link_to 'Home', home_page_index_path %>
      <%= link_to 'Search', searches_path %>
      <%= link_to 'Browse', home_page_index_path %>
      <%= link_to 'APIs', home_page_index_path %>
      <%= link_to 'About', home_page_index_path %>
    </div>
    <div class="col-md-2" style="text-align: right; padding-top: 10px">
      <%= link_to 'Contact', searches_path %>
    </div>
  </div>

  <%# If flag == true this is the home page and the background image height is greater %>
  <div class="row" <% if @flag == true then %>id="main_search"<% else %>id="main_search2"<% end %>>

    <div class="col-md-2" style="padding-left: 0px">
      <%= image_tag 'arch_logo.jpg', :class => 'archbishop_logo' %>
    </div>

    <div class="col-md-2"></div>

    <div class="col-md-8">

          <%= form_tag searches_index_path, :method => 'get', :class => 'earch-query-form clearfix navbar-form' do |f| %>

              <%
                # If flag == true this is the home page and the search box is located lower on the page
                search_margin_top = '25px'
                if @flag == true then search_margin_top = '150px' end
              %>

              <div class="input-group search-input-group" style="display: inline-table; margin-top: <%= search_margin_top %>">

                <%= text_field_tag 'search_term', @search_term, class: 'form-control', id: 'search_registers', placeholder: 'Search the registers...', :style => 'border-color: black; margin-left: 15px; border-radius: 4px' %>

                <button type="submit" class="btn btn-primary" id="" style="background-color: #FFCC00; border-color: black; color: black; margin-left: 10px">
                  <span class="" style="padding-left: 10px; padding-right: 10px">Go</span>
                </button>

              </div>

              <%= hidden_field_tag 'is_search_box', 'true' %>

          <% end %>

    </div>
  </div>

  <%= yield %>

  <hr style="margin: 20px 0px"/>

  <div class="row" style="margin-top: 0px">
    <div id="footer" class="col-md-2">
    </div>
    <div id="footer" class="col-md-8" style="text-align: center">
      <a href="http://www.marcfitchfund.org.uk/" target="_blank"><%= image_tag 'fitch_fund.gif', :class => 'footer_logo', :style => 'width: 120px' %></a>
      <a href="https://mellon.org/" target="_blank"><%= image_tag 'mellon_logo.svg', :class => 'footer_logo', :style => 'width: 160px' %></a>
        <a href="http://http://www.york.ac.uk/" target="_blank"><%= image_tag 'york_logo.gif', :class => 'footer_logo', :style => 'width: 180px' %></a>
    </div>
    <div id="footer" class="col-md-2">
    </div>
  </div>

</div>

</body>

</html>