<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>York Archbishops&#39; Registers</title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" id="top_menu">
      <div class="container">
        <div class="navbar-header" id="top_menu">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to 'Home', home_page_index_path %></li>
            <li><%= link_to "The Northern Way", northernway_path %></li>
            <li><%= link_to 'Search', searches_path(:search_term => 'NO_SEARCH') %></li>
            <li><%= link_to 'Browse', browse_path %></li>
            <li><%= link_to 'About', about_path %></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid"> <%# Bootstrap %>
      <%# Note Display the top menu including the links %>
      <div id="top_menu" class="row"></div>
      <div class="row"  id="simple_search_block"> <%# id="search_row_home" id="search_row_default" %>
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <% search_margin_top = '35px' # search_margin_top = '150px' %>
          <%# <div class="container-flex"> %>
          <%= form_tag("/search/simple", method: "get", id: "search_form", onsubmit: "return validate_search_field()") do |f| %>
            <div class="form-row">
              <div class="form-group col-md-10 inline-group">
                <%# <div class="form-group mb-2"> %>
                <%= label_tag(:search_term, "Search for", id: "date_label") %>
                <%= text_field_tag("search_term", @search_term, class: "form-control", placeholder: "Enter keyword(s)...") %>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-3 inline-group">
                <%= label_tag(:start_date, "Between", id: "date_label") %>
                <%= text_field_tag(:start_date, @start_date, class: "form-control", placeholder: "1225") %>
              </div>
              <div class="form-group col-md-3 inline-group">
                <%= label_tag(:end_date, "and", id: "date_label") %>
                <%= text_field_tag(:end_date, @end_date, class: "form-control", placeholder: "1668") %>
              </div>
              <div class="form-group col-md-4 inline-group">
                <%= label_tag(:archival_repository, "Held by", id: "archival_repository_label") %>
                <%= select_tag(:archival_repository, 
                  options_for_select([["All Archives", "all"], ["Borthwick Institute for Archives", "borthwick"], ["The National Archives", "tna"]]), 
                  class: "form-control") %>
              </div>
            </div>
            <div class="inline-btn-group col-sm-10">
              <%= submit_tag("Search", class: "btn go_button", id: "simple_button") %>
              <%= submit_tag("Clear form", name: "reset", type: "reset", class: "btn go_button", id: "simple_button") %>
            </div>
            <div class="form-group col-sm-12">
              <small id="search_links" class="text-muted">
                <%= link_to 'Advanced', search_advanced_path(all_sterms: @search_term) %> search
              </small>
            </div>
          <% end %> <%# form_tag %>
          <div class="col-md-3"></div>
        </div>
      </div>
      <%# Display main code %>
      <div class="row"><%= yield %></div>
      <hr style="margin: 20px 0px"/>
      <%# Display footer logos %>
      <div id="footer" class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="col-md-3">
            <a href="#"><%= image_tag 'arch_logo.jpg', :class => 'footer_logo', :style => 'max-width: 160px; margin-top: 10px' %></a>
          </div>
          <div class="col-md-3">
            <a href="https://mellon.org/" target="_blank"><%= image_tag 'mellon_logo.svg', :class => 'footer_logo', :style => 'max-width: 180px; margin-top: 20px' %></a>
          </div>
          <div class="col-md-3">
            <a href="http://www.marcfitchfund.org.uk/" target="_blank"><%= image_tag 'marc_fitch_-_logo_0.jpg', :class => 'footer_logo', :style => 'max-width: 140px'  %></a>
          </div>
          <div class="col-md-3">
            <a href="http://www.york.ac.uk/" target="_blank">
              <%= image_tag 'UOY-Logo-Stacked-shield-Black.png', :class => 'footer_logo', :style => 'max-width: 270px; margin-top: 10px' %></a>
          </div>
        </div>
        <div class="col-md-2"></div>
        <div style="clear:both"></div>
      </div>
      <div style="text-align: center" class="row">
        <hr style="margin: 20px 0px"/>
        <div class="col-md-2"></div>
        <div class="col-md-8"><span style="text-align: center; font-size: 0.8em; margin-top: 30px">University of York, 2016. <a href="http://www.york.ac.uk/about/legal-statements/">Disclaimer</a></span></div>
        <div class="col-md-2"></div>
      </div>
    </div>
    <%= render 'home_page/analytics' %>
  </body>
</html>
